Source: #PACKAGE#
Section: editors
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#, python (>= 2.6), python-support
Standards-Version: #POLICY#
Homepage: http://github.com/mickael-menu/TikZ-Editor

Package: #PACKAGE#
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-qt4, python-qscintilla2, imagemagick
Description: TikZ (LaTeX) code editor
 TikZ code editor providing real-time previewing of TikZ source.